@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

.divider {
    margin-top: -16%;
    margin-bottom: -10%;
}

.contactBtn {
    width: 20%;
    margin-top: -81%;
    margin-left: 5%;
}

.highlightCreationUnderline {
    border-bottom: 2px solid black;
}

.highlightCreationUnderline button {
    margin-bottom: 2%;
}

.highlightCreationUnderlineButton {
    margin-bottom: 2%;
}

#storeHero {
    position: relative;
}

#sendMessage{
    top: 35%;
    left: 5%;
    position: absolute;
    width: fit-content;
}

#itemCardsContainer{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#bottomCardHalf{
    justify-content: center;
    width: 80%;
}
@media screen and (max-width: 1400px) {
    .contactBtn{
        margin-top: -82.5%;
        margin-left: 6.5%;
    }
  }
@media screen and (max-width: 1200px) {
    .contactBtn{
        margin-top: -85%;
        margin-left: 8%;
    }
  }

  @media screen and (max-width: 992px) {
    .contactBtn{
        margin-top: -89.5%;
        margin-left: 12%;
    }
  }

  @media screen and (max-width: 768px) {
    .contactBtn{
        margin-top: -91.7%;
        margin-left: 53%;
    }
  }

  @media screen and (max-width: 520px) {
    .contactBtn{
        margin-top: -89.6%;
        margin-left: 59.5%;
    }
  }
  @media screen and (max-width: 554px) and (min-width:520px) {
    .contactBtn{
        margin-top: -89.5%;
        margin-left: 58%;
    }
  }
