#addDishText {
    margin-top: 4%;
    font-size: 3rem;
}

.addDishCardLabel {
    margin-left: 2%;
}
#addDishPlus {
    margin-top: -35%;
    font-size: 20em;
}

#addDishCard{
    width: 25rem;
    height: 23rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s ease-in-out ;
    overflow: hidden;
    position:relative;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));}

#addDishCard:hover{
    transform: scale(1.02);
}
