.userProfileComponent {
    margin-top: -34%;
}

.companyProfileBtn {
    margin-top: -80%;
    margin-left: 6%;
}

.highlightCreationComponent {
    margin-top: -36%;
}

#contentHidden {
    display: none;
}

#contentVisible {
    display: visible;
}

@media screen and (max-width: 1199px) {
    .companyProfileBtn{
        margin-top: -83%;
        margin-left: 9%;
    }
  }
@media screen and (max-width: 991px) {
    .companyProfileBtn{
        margin-top: -88%;
        margin-left: 13%;
    }
  }
@media screen and (max-width: 767px) {
    .companyProfileBtn{
        margin-top: -82%;
        margin-left: 17%;
    }
  }
@media screen and (max-width: 520px) {
    .companyProfileBtn{
        margin-top: -81%;
        margin-left: 19%;
    }
  }