#contentHidden {
        display: none;
}

#contentVisible {
        display: visible;
}

.contentHidden {
        display: none;
}

.contentVisible {
        display: visible;
}

.addDishBtn {
        margin-top: 6%;
}

#addDishText {
        margin-top: 4%;
        font-size: 3rem;
}

.addDishCardLabel {
        margin-left: 2%;
}

#addDishPlus {
        margin-top: -35%;
        font-size: 20em;
}

#addDishCard {
        width: 25rem;
        height: 23rem;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        transition: all .3s ease-in-out;
        overflow: hidden;
        position: relative;
        background: #CCDCD1;
        color: black
}

#addDishCard:hover {
        transform: scale(1.02);
        background: #d6ecdd;
}

#profileContainer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-height: 100vh;
}

#heroContainer {
        position: relative;
        margin: 0 auto;
        margin-bottom: 100px;
        margin-top: 30px;
        padding: 0;
}

#eatsyHero {
        border: solid #A4B8AA;
        border-radius: 6px;
}

#heroText {
        position: absolute;
        top: 30px;
        left: 60px;
        width: 580px;
}

#heroName {
        color: #D97758;
}

#heroDescription {
        margin-left: 20px;
        color: #CCDCD1;
}

#heroTags {
        list-style-type: none;
        display: flex;
        text-align: center;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 0;
        color: #CCDCD1;
}

#heroTags li {
        display: inline-block;
}

#userImg {
        position: absolute;
        width: 100px;
        height: 100px;
        border: solid #A4B8AA;
        border-radius: 50%;
        padding: 5px;
        background-color: #CCDCD1;
        left: -30px;
        bottom: -30px;
}

#addProfilePicture {
        position: absolute;
        left: 55px;
        bottom: -10px;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #BD5430;
        background-color: #D97758;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
}

#marginUp {
        margin-bottom: 2px;
}

#profilePictureText {
        position: absolute;
        left: 77px;
        bottom: -2px;
        font-size: 10px;
        border: solid gray 1px;
        background-color: snow;
        padding: 5px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        text-align: center;
        transition: 1s;
}

#profileBtns {
        position: absolute;
        left: 80px;
        margin-top: 10px;
}

#profileBtns * {
        margin-right: 5px;
}

#bottomCardHalf {
        justify-content: center;
        width: 100%;
}

.userProfileComponent {
        margin-bottom: 50px;
}