nav {
    background-color: #CCDCD1;
    font-family: 'Bowlby One', sans-serif;
    position: fixed;
    border-bottom: 5px solid #D97758;
}

.logoName {
    justify-content: space-between;
}
.navbar-brand {
    margin-left: 2%;
    color: #4D2D20 !important;
    font-size: 50px !important;
}

.nav-link:hover {
    background-color: #caf0f8
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-left: 3%;
}

.header li {
    margin-left: 7%;
}

.navbar-toggler {
    margin-right: 3%;
}
