nav {
    background-color: #CCDCD1;
    font-family: 'Bowlby One', sans-serif;
    position: fixed;
    border-bottom: 5px solid #D97758;
}

nav img {
    margin-top: -2%;
}

.logoName {
    justify-content: space-between;
}
.navbar-brand {
    margin-left: 2%;
    color: #4D2D20 !important;
    font-size: 50px !important;
    
}
.nav-link{
    text-transform: uppercase;
    transition: all .3s ease-in-out !important;
}
.nav-link:hover {
    color: #D97758 !important;
    scale: 1.05;

}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-left: 3%;
}

.header li {
    margin-left: 7%;
}

.navbar-toggler {
    margin-right: 3%;
}
