.filterBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filterBtn button {
    margin-bottom: 3px;
    background-color: #CCDCD1;
}
.filterBtn button:hover {
    background-color: #caf0f8
}

.btnRow {
    margin-top: -6%;
    margin-bottom: 2.5%;
}

.btnNames {
    visibility: hidden;
    margin: 0;
    color: #D97758;
    font-family: 'Bowlby One';
    font-size: 1rem;
    text-transform: capitalize;

}

.allBtn {
    margin-top: 30%;
    margin-left: 35%;
    background-color: #CCDCD1;
    font-family: 'Bowlby One';
    color: #4D2D20 !important;
}

.allBtn:hover {
    background-color: #caf0f8
}

#homeStoreView{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1399px) {
    .btnRow{
        display: flex;
        flex-direction: row;
    }

}

