.filterBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filterBtn button {
    margin-bottom: 3px;
}

.btnNames {
    visibility: hidden;
    margin: 0;
    color: #D97758;
    font-family: 'Bowlby One';
    font-size: 1rem;

}

