@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Lato:wght@700&display=swap');
.bowlby{
    font-family: 'Bowlby One', sans-serif;
}
.lato{
    font-family: "Lato", sans-serif;
}

.btn-style-primary{
    background-color: #D97758;
    color: black;
    border-style: none;
}
.btn-style-primary:hover{
    background-color: #BD5430;
    color: inherit
}