@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Lato:wght@700&display=swap');
.bowlby{
    font-family: 'Bowlby One', sans-serif;
}
.lato{
    font-family: "Lato", sans-serif;
}
.btn:first-child:active{
        background-color: #BD5430 !important;
}
.btn-style-primary{
    background-color: #D97758;
    color: black;
    border-style: none;
    border-radius: 16px;
}
.btn-style-primary:hover{
    background-color: #BD5430;
    color: inherit
}
#allMessageBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#messageCard {
    position: absolute;
    border: solid black;
    margin: 10px;
}

#replyBtn {
    position: absolute;
    width: 140px;
    right: -3px;
    bottom: 40px;
}
#messagesTitle{
    color: #D97758;
}