@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

#itemCardsContainer{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#bottomCardHalf{
    justify-content: center;
    width: 80%;
}