.signup {
    width: 500px;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    background-color: white;
}
.signInUpHero {
    background-image: url("../Signin/assets/signinhero.jpg");
    background-size: 100vw 100vh;
}
.signup h1 {
    font-family: 'Bowlby One', sans-serif;
    color: #4D2D20
}